.container{
    max-width: 1200px;
    margin: 0 auto;
}

.movies{
    padding: 50px 0 150px 0;
}

.movies-container h3, h2{
    text-align: center;
}

.swiper{
    width: 100%;
}

.swiper-slide{
    background-position: center;
    background-size: cover;
    width: 250px;
}

.swiper-slide img{
    display: block;
    width: 100%;
}